<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>You created new job <%= @job.title %>!</p>
    <p>
    Job details<br>
    --------------------------
    </p>
    <p>Title: <%= @job.title %></p>
    <p>
    Message:<br>
    ----------
    </p>
    <p><%= @job.description %></p>
  </body>
</html>