/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap/scss/bootstrap";

 body {
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
 .nav{
   background-color: #2d2e2d;
   height: 4em;
   align-items: center;
 }
 a.nav-link:hover{
  background-color: none;
 }
.nav-left{
  margin-right: auto;
  font-size: 1.5em;
}
 .card{
   margin: 0.8em 0em;
 }
 .card-header{
  color: white;
   background-color: #f39224;
 }
 .header-02{
   background-color: #73D7CA;
   padding: 1em;
 }
 .expiered{
   display: none;
   margin: 0px;
 }
.not-expiered{
  display: inline ;
}
.home-wraper{
  background-image: url(/assets/landing.png);
  background-position: center;
  background-size: cover;
  width: 100vw;
  margin-left: calc((100% - 100vw) / 2);
  background-color: #73d7ca;
}
.homepage{
  color: white;
  padding: 3em 0em 7em 0em !important;

  h1{
    font-size: 8em;
    padding: 0.3em 0em;
  }
  h5{
    padding: 1em 0em;
  }
}
.gumb{
  padding:1em 2em ;
  font-weight: bold;
}
.user-wraper{
  margin: 3em 0em;
}
.applications-wraper{
  min-height: 40vh;
  margin: 4em 0em;
}
footer{
  color: white;
  background-color: #2d2e2d;
  margin-top: auto;
  a{
    color: white;
  }

}
.footer-wraper{
  padding: 4em 0em 2em 0em;
}
.footer-menu{
  background-color: #2d2e2d;
}


